<footer class="site-footer">
  <div class="large-4 columns">
    <h3>Kontakt</h3>
    <ul class="contact-list">
      <li>Naturschutz Richterswil-Samstagern<br>
        c/o Nils Ratnaweera<br>
        Eichmüli 7<br>
        8820 Wädenswil </li>
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li>{{ site.phone }}</li>
    </ul>
  </div>

  <div class="large-4 columns">
    <h3>Werde Mitglied!</h3>
    <p>Für Fr. 40.- pro Jahr sind Sie bei uns dabei und gleichzeitig auch bei unsern Dachverbänden. So profitieren Sie von einem vergünstigten Weiterbildungsangebot und einem guten Netzwerk.</p>
    <a class="button expanded" href="mailto:ratnaweera@naturschutz-r-s.ch">Ja, ich will Mitglied werden!</a>
  </div>

  <div class="large-4 columns">
    <h3>Über uns</h3>
    <p>{{ site.description }}</p>
  </div>
</footer>
