<footer class="site-footer">
  <div class="large-4 columns">
    <h3>Kontakt</h3>
    <ul class="contact-list">
      <li>Naturschutz Richterswil-Samstagern<br>
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li>{{ site.phone }}</li>
    </ul>
  </div>

  <div class="large-4 columns">
    <h3>Werde Mitglied!</h3>
    <p>Mit CHF 40.- pro Jahr unterstützen Sie unsere Vereinsaktivitäten und helfen der Natur wirkungsvoll vor Ort. Profitieren Sie gleichzeitig von unserem Dachverband und einem vergünstigten Weiterbildungsangebot.</p>
    <a class="button expanded" href="mailto:info@naturschutz-r-s.ch">Ja, ich will Mitglied werden!</a>
  </div>

  <div class="large-4 columns">
    <h3>Über uns</h3>
    <p>{{ site.description }}</p>
  </div>
</footer>
