<header class="site-header">

  <a href="{{ site.baseurl }}/">
    <div class="image-textover">
      <img width="950" id="header-image" src="{% if page.headerimage != null %}{{ page.headerimage }}{% else %}/images/header/default.jpg{% endif %}" />
      <h1 class="logo show-for-medium">
          <img width="280" src="/images/header/logo.png" alt="Naturschutz Richterswil-Samstagern" />
      </h1>
      <h1 class="logo show-for-small-only" style="">
          <img width="200" src="/images/header/logo.png" alt="Naturschutz Richterswil-Samstagern" />
      </h1>
    </div>
  </a>

  <nav class="site-nav">
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menü</div>
    </div>

    <div class="top-bar" id="main-menu">
      <div class="top-bar-left">
        <ul class="vertical medium-horizontal menu">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/news/">News</a></li>
          <li><a href="{{ site.baseurl }}/aktiv-werden-mitmachen/">Mach mit!</a></li>
          <li><a href="{{ site.baseurl }}/mitglied-werden/">Mitglied werden</a></li>
          <li><a href="{{ site.baseurl }}/ueber-uns/">Über uns</a></li>
          <li><a href="{{ site.baseurl }}/bilder/">Bilder</a></li>
          <li><a href="{{ site.baseurl }}/weiterbildung/">Weiterbildung</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
