<header class="site-header">

  <a href="{{ site.baseurl }}/">
    <div class="image-textover">
      <img width="950" id="header-image" src="{% if page.headerimage != null %}{{ page.headerimage }}{% else %}/images/header/default.jpg{% endif %}" />
      <h1>Naturschutz Richterswil-Samstagern</h1> <!-- site.title -->
    </div>
  </a>

  <nav class="site-nav">
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menü</div>
    </div>

    <div class="top-bar" id="main-menu">
      <div class="top-bar-left">
        <ul class="vertical medium-horizontal menu">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          {% for my_page in site.pages %}
            {% if my_page.title %}
              {% if my_page.title != "Home" %}
                {% if my_page.title != "Ups... (404)" %}
                 <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
