<!doctype html>
<html class="no-js" lang="en">
<head>
  {% include head.html %}
</head>
<body>

<div id="container">
  <div class="row">
    <div class="large-12 columns">
  {% include header.html %}
    </div>
  </div>

  <div class="row content">
    <div class="large-12 columns">
      {{ content }}
    </div>
  </div>

  <div class="row footer">
    <div class="large-12 columns">
      {% include footer.html %}
    </div>
  </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/what-input/what-input.min.js"></script>
<script src="/bower_components/foundation-sites/dist/foundation.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
